ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
}

li.social-info{
    margin: 20px;
    padding: 5px;
    background-color: khaki;
    border: chartreuse solid 1px;
}
